<app-tab>
  <app-tab-header>
    <li class="nav-item">
      <a id="addFiles" class="nav-link" mat-button (click)="addFiles()" [disabled]="uploading || uploadSuccessful">
        <i class="material-icons">attachment</i> Add
        <div class="ripple-container"></div>
      </a>
    </li>
    <li class="nav-item">
      <a mat-button (click)="closeDialog()" class="nav-link" [disabled]="!canBeClosed">
        <i class="material-icons">save_alt</i> Upload
        <div class="ripple-container"></div>
      </a>
    </li>
  </app-tab-header>
  <app-tab-content>
    <div class="card-body">
      <mat-dialog-content>
        <mat-list >
          <mat-list-item id="dialog-list-item" *ngFor="let file of files">
            <h4 mat-line>{{file.name}}</h4>
            <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress[file.name].progress | async">
            </mat-progress-bar>
          </mat-list-item>
        </mat-list>
      </mat-dialog-content>

      <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />
      <div class="row">
        <mat-dialog-actions class="actions">
          <button mat-dialog-close class="btn btn-info pull-right">Cancel</button>
          <div class="clearfix"></div>
        </mat-dialog-actions>
      </div>
    </div>
  </app-tab-content>
</app-tab>