<div class="main-content">
  <div class="container-fluid">
    <div>
      <app-tab>
        <app-tab-header>
          <li class="nav-item">
            <a id="list" mat-button class="nav-link active" routerLink="list" data-toggle="tab">
              <i class="material-icons">list</i> Listar
              <div class="ripple-container"></div>
            </a>
          </li>
        </app-tab-header>
        <app-tab-content>
          <app-tab-content-item class="tab-pane active">
            <router-outlet></router-outlet>
          </app-tab-content-item>
        </app-tab-content>
      </app-tab>
    </div>
  </div>
</div>