.sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto;
    white-space: normal;
}

.title-left {
    float: left;
    font-weight: 500;
    font-size: large !important;
}

.expansion-content {
    display: flex;
    justify-content: space-between;
}

.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.action-buttons {
    padding-bottom: 20px;
}

.headers-align .mat-expansion-panel-header-title, .headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-title {
    font-size: large;
}

.headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}