.sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto;
    white-space: normal;
}

.title-left {
    float: left;
    font-weight: 500;
    font-size: large !important;
}

.card-icon {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}

.card-header-item {
    display: flex;
    justify-content: space-between;
    /* padding: 10px 10px 10px 10px; */
    font-size: large;
}
