<div class="card">
  <div class="card-body table-responsive">
    <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead class="text-warning">
        <tr>
          <th class="bold-f">#ID</th>
          <th class="bold-f">Name</th>
          <th class="bold-f">Registry Code</th>
          <th class="bold-f">Phone</th>
          <th class="bold-f">Email</th>
          <th class="bold-f">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parking of parkings">
          <td><b>#{{ parking.id}}</b></td>
          <td>{{ parking.name}}</td>
          <td>{{ parking.registryCode | mask: '00.000.000/0000-00'}}</td>
          <td>{{ parking.phone | mask: '(00) 9 0000-0000'}}</td>
          <td>{{ parking.email}}</td>
          <td class="td-actions text-right">
            <button mat-raised-button type="button" matTooltip="Edit" (click)="onEdit(parking)"
              [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
              <i class="material-icons">edit</i>
            </button>
            <button mat-raised-button type="button" matTooltip="Remove" (click)="onRemove(parking)"
              [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
              <i class="material-icons">close</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>