<div class="main-content">
  <div class="container-fluid">
    <div>
      <app-tab>
        <app-tab-header>
          <li class="nav-item">
            <a mat-button class="nav-link active" href="#list" data-toggle="tab">
              <i class="material-icons">list</i> List
              <div class="ripple-container"></div>
            </a>
          </li>
          <li class="nav-item">
            <a mat-button class="nav-link" href="#register" data-toggle="tab">
              <i class="material-icons">save</i> Register
              <div class="ripple-container"></div>
            </a>
          </li>
        </app-tab-header>
        <app-tab-content>
          <app-tab-content-item class="tab-pane active" id="list">
            <div class="card">
              <div class="card-body table-responsive">
                <table class="table table-hover">
                  <thead class="text-warning">
                    <th>#ID</th>
                    <th>Name</th>
                    <th>Registry Code</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Actions</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let employee of employees">
                      <td><b>#{{ employee.id}}</b></td>
                      <td>{{ employee.name}}</td>
                      <td>{{ employee.registryCode | mask: '000.000.000-00'}}</td>
                      <td>{{ employee.phone | mask: '(00) 9 0000-0000'}}</td>
                      <td>{{ employee.email}}</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit" (click)="onEdit(parking)"
                          [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" (click)="onRemove(parking)"
                          [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer py-4">
                <nav aria-label="...">
                  <ul class="pagination justify-content-end mb-0">
                    <li class="page-item disabled">
                      <a class="page-link" href="javascript:void(0)" tabindex="-1">
                        <i class="fa fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="javascript:void(0)">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="javascript:void(0)">
                        <i class="fa fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </app-tab-content-item>
          <app-tab-content-item class="tab-pane" id="register">
            <label>Not Implemented</label>
          </app-tab-content-item>
        </app-tab-content>
      </app-tab>

    </div>
  </div>
</div>