<div class="limiter">
  <div class="container-login100">
    <div [formGroup]="form" (ngSubmit)="onSubmit()" class="wrap-login100">
      <!--================================= Employee =================================================-->

      <div class="title-recovery">
        <h3>
          Recuperar Conta
        </h3>
        <h6> Por favor informe os dados abaixo!</h6>
      </div>

      <div class="wrap-input100 validate-input">
        <input class="input100" type="text" name="registryCode" placeholder="Registry Code"
          formControlName="registryCode">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="fa fa-id-card" aria-hidden="true"></i>
        </span>
      </div>

      <div class="wrap-input100 validate-input">
        <input class="input100" type="text" name="email" placeholder="Email" formControlName="email">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
      </div>

      <div class="container-login100-form-btn">
        <button class="login100-form-btn">
          Enviar
        </button>
      </div>

      <div class="text-center btn-back">
        <a class="txt2" href="#/auth/signin">
          <i class="material-icons">west</i>
          Voltar
        </a>
      </div>

    </div>
  </div>