<div class="card">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Id" formControlName="id" disabled>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Registry Code" mask="000.000.000-00" type="text"
              formControlName="registryCode">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Phone" mask="(00) 0 0000-0000" type="text" formControlName="phone">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Email address" type="email" formControlName="email">
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="fill">
            <mat-label>Rule</mat-label>
            <mat-select formControlName="ruleId">
              <mat-option *ngFor="let rule of rules" [value]="rule.id">
                {{rule.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="fill">
            <mat-label>Parking</mat-label>
            <mat-select formControlName="parkingId">
              <mat-option *ngFor="let parking of parkings" [value]="parking.id">
                {{parking.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button type="submit" class="btn btn-info pull-right">Save</button>
      <div class="clearfix"></div>
    </form>
  </div>
</div>