<div class="card">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Id" formControlName="id" disabled>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Nome" formControlName="name">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="CPF" mask="000.000.000-00" type="text" formControlName="registryCode">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Telefone" mask="(00) 0 0000-0000" type="text" formControlName="phone">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="E-mail" type="email" formControlName="email">
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Senha" type="password" formControlName="password">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Confirme a Senha" type="password" formControlName="confirmPassword">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Níveis</mat-label>
            <mat-select formControlName="ruleId">
              <mat-option *ngFor="let rule of rules" [value]="rule.id">
                {{rule.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Estacionamentos</mat-label>
            <mat-select formControlName="parkingId">
              <mat-option [value]="0">N/A</mat-option>
              <mat-option *ngFor="let parking of parkings" [value]="parking.id">
                {{parking.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button type="submit" class="btn btn-info pull-right">Salvar</button>
      <div class="clearfix"></div>
    </form>
  </div>
</div>