<div class="card">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" ngNativeValidate>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Id" formControlName="id" disabled>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Registry Code" mask="00.000.000/0000-00" type="text"
              formControlName="registryCode" minlength="14" required>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Phone" mask="(00) 0 0000-0000" type="text" formControlName="phone">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Email address" type="email" formControlName="email">
          </mat-form-field>
        </div>
      </div>
      <br />
      <h4><b>Address</b></h4>
      <div formGroupName="address">
        <div class="row">
          <div class="col-md-3">
            <mat-form-field>
              <input matInput placeholder="Country" type="text" formControlName="country" readonly>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <input matInput #zipcode placeholder="Zip Code" mask="00000-000" type="text" formControlName="zipCode"
                (change)="searchAddress(zipcode.value)">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <input matInput placeholder="State" type="text" formControlName="state">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <input matInput placeholder="City" type="text" formControlName="city">
            </mat-form-field>
          </div>

        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="District" type="text" formControlName="district">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="Street" type="text" formControlName="street">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="Number" type="text" formControlName="number">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="Latitude" type="text" formControlName="latitude" [readonly]='isLatLong'>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="Longitude" type="text" formControlName="longitude" [readonly]='isLatLong'>
            </mat-form-field>
          </div>
        </div>
      </div>
      <button mat-raised-button type="submit" [disabled]="!this.form.valid"
        class="btn btn-info pull-right">Save</button>
    </form>
    <br />
    <div>
      <app-upload title="Images" id='{{this._id}}'></app-upload>
    </div>
    <div class="clearfix"></div>
  </div>
</div>