<div class="card">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" ngNativeValidate>
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Id" formControlName="id" disabled>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Nome" formControlName="name" required>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="CNPJ" mask="00.000.000/0000-00" type="text" formControlName="registryCode"
                  minlength="14" required>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Telefone" mask="(00) 0 0000-0000" type="text" formControlName="phone"
                  required>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="E-mail" type="email" formControlName="email" required>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-4 form-img">
          <a>
            <img class="img" [src]="imageUrl" />
          </a>
        </div>
      </div>
      <br />
      <h4><b>Address</b></h4>
      <div formGroupName="address">
        <div class="row">
          <div class="col-md-3">
            <mat-form-field>
              <input matInput placeholder="País" type="text" formControlName="country" readonly required>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <input matInput #zipcode placeholder="CEP" mask="00000-000" type="text" formControlName="zipCode"
                (change)="searchAddress(zipcode.value)" required>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <input matInput placeholder="Estado" type="text" formControlName="state" required>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <input matInput placeholder="Cidade" type="text" formControlName="city" required>
            </mat-form-field>
          </div>

        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="Bairro" type="text" formControlName="district" required>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="Rua" type="text" formControlName="street" required>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="Número" type="text" formControlName="number" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="Latitude" type="text" formControlName="latitude" [readonly]='isLatLong'>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="Longitude" type="text" formControlName="longitude" [readonly]='isLatLong'>
            </mat-form-field>
          </div>
        </div>
      </div>
      <button mat-raised-button type="submit" [disabled]="!this.form.valid"
        class="btn btn-info pull-right">Salvar</button>
    </form>
    <br />
    <div>
      <app-upload title="Imagens" id='{{this._id}}'></app-upload>
    </div>
    <div class="clearfix"></div>
  </div>
</div>