.select-itens {
  position: relative;
  top: 50px;
}

.mat-select-panel {
  position: relative !important;
  top: 50px !important;
}

.mat-form-field-underline {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}