<div class="wrapper" *ngIf="!isRoute('auth'); else authBlock">
  <div class="sidebar" data-color="purple" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <div *ngIf="!isRoute('maps');">
      <app-footer></app-footer>
    </div>
  </div>
</div>

<ng-template #authBlock>
  <router-outlet></router-outlet>
</ng-template>

<!-- colors : purple, azure -->