<div class="logo">
  <a href="#" class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/logo.png" />
    </div>
    <div class="p-15">Simple Parking</div>
  </a>
</div>
<div class="logo">
  <app-parkings-select class="z-index-max"></app-parkings-select>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item dropdown">
        <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="material-icons">notifications</i>
          <span class="notification">3</span>
          <p>
            <span class="d-lg-none d-md-block">Some Actions</span>
          </p>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="javascript:void(0)">Schedulings: You have 5 new schedulings</a>
          <a class="dropdown-item" href="javascript:void(0)">Scores: You have 5 new scores</a>
          <a class="dropdown-item" href="javascript:void(0)">Values: You have ....</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="material-icons">person</i>
          <p>
            <span class="d-lg-none d-md-block">Meu Perfil</span>
          </p>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/employee-profile">{{this.auth ? this.auth.employee.name : ''}}</a>
          <a class="dropdown-item" (click)="signOut()">Sair</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/company">
          <i class="material-icons">domain</i>
          <p>
            <span class="d-lg-none d-md-block">Empresa</span>
          </p>
        </a>
      </li>
    </ul>
  </div>
  <ul class="nav">
    <li *ngFor="let menuItem of menuItems" class="nav-item {{ this.isRoute(menuItem.name) ? 'active' : '' }}">
      <a class="nav-link" [routerLink]="[menuItem.path]" *ngIf="menuItem.visible == true">
        <i class="material-icons">{{menuItem.icon}}</i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
  </ul>
</div>