<div class="limiter">
  <div class="container-login100">
    <form class="wrap-login100" [formGroup]="form" (ngSubmit)="onSubmit()">
      <!--================================= Employee =================================================-->
      <div formGroupName="employee">
        <span class="login100-form-title">
          Employee
        </span>
        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" name="name" placeholder="Full Name" formControlName="name">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-user" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" mask="000.000.000-00" name="registryCode" placeholder="Registry Code"
            formControlName="registryCode">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-id-card" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" name="email" placeholder="Email" formControlName="email">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" name="phone" placeholder="Phone" mask="(00) 0 0000-0000"
            formControlName="phone">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100" type="password" name="password" placeholder="Password" formControlName="password">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100" type="password" name="confirm-password" placeholder="Confirm Password"
            formControlName="confirmPassword">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>
      </div>

      <!--================================= Company =================================================-->
      <div formGroupName="company">
        <span class="login100-form-title">
          Company
        </span>
        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" name="CompanyName" placeholder="Company Name" formControlName="name">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-building" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" name="CompanyRegistryCode" placeholder="Registry Code"
            formControlName="registryCode" mask="00.000.000/0000-00">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-id-card" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" name="CompanyPhone" placeholder="Phone" mask="(00) 0 0000-0000"
            formControlName="phone">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </span>
        </div>
      </div>

      <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit">
          Cadastrar
        </button>
      </div>

      <div class="text-center btn-back">
        <a class="txt2" routerLink="/auth/signin">
          <i class="material-icons">west</i>
          Voltar
        </a>
      </div>

    </form>
  </div>
</div>