<div *ngIf="this.id">
  <br />
  <br />
  <div class="u-header">
    <div class="u-header-title">
      <a mat-raised-button>
        <span></span>
        <p class="u-header-label"><b>{{this.title ? this.title : 'Attachments'}}</b></p>
      </a>
    </div>
    <div>
      <a mat-raised-button (click)="addFiles()">
        <i class="material-icons">attachment</i>
      </a>
    </div>
  </div>
  <input type="file" #file style="display: none" (change)="onFilesAdded()" accept="image/*" />
  <div class="card">
    <div class="card-body table-responsive">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="tableFilter($event)" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table class="table table-hover" [dataSource]="dataSource" matSort style="width:100%">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> #ID </th>
            <td mat-cell *matCellDef="let row"> #{{row.id}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let row"> {{row.type}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
            <td mat-cell *matCellDef="let row">
              <button mat-raised-button type="button" matTooltip="View" (click)="onView(row)"
                [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                <i class="material-icons">visibility</i>
              </button>
              <button mat-raised-button type="button" matTooltip="Remove" (click)="onRemove(row)"
                [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                <i class="material-icons">close</i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>