<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt title-custom" data-tilt>
        <div>
          <h3>
            Simple Parking
          </h3>
          <h6> seu carro seguro !</h6>
        </div>
        <img src="./assets/img/img-4.png" alt="IMG">
      </div>
      <form class="login100-form validate-form">
        <span class="login100-form-title">
          Login
        </span>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" name="email" placeholder="Email">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100" type="password" name="pass" placeholder="Password">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Entrar
          </button>
        </div>

        <div class="text-center p-t-12">
          <span class="txt1">
            Esqueceu seu
          </span>
          <a class="txt2" href="#retrieveAccount">
            Usuario / Senha?
          </a>
        </div>

        <div class="text-center p-t-136">
          <a class="txt2" href="#signup.html">
            Crie sua conta
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>