<a mat-dialog-close class="f-r" (click)="closeDialog()">
  <i class="material-icons">cancel</i>
</a>
<br />
<div class="u-header">
  <div class="u-header-title">
    <a mat-raised-button>
      <span></span>
      <p class="u-header-label"><b>Visualizador de Imagens</b></p>
    </a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="card-content">
      <p>Nome: {{name}}</p>
      <p>Expandir: <a href="{{imageUrl}}" (click)="expand()"> Link</a></p>
      <div class="u-content">
        <img [src]="imageUrl" height="100%" width="100%" />
      </div>
      <br />
    </div>
    <div class="clearfix"></div>
  </div>
</div>